* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container-centered {
    max-width: 308px;
    margin-left: auto;
    margin-right: auto;  
}

header {
    background-color: #0084fd;
}

* p {
    line-height: 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    min-height: 75px;
    margin-bottom: 50px;
}

header nav .nav-left {
    display: flex;
    min-width: 90px;
    min-height: 50px;
    align-items: center;
}

header nav .nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 90px;
    min-height: 50px;
    color: white;
    font-size: 25px;
}

main .list-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .list-demo .card {
    min-width: 308px;
    min-height: 360px;
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;   
    text-align: center;
    line-height: 30px;
}

main .list-demo .card .p-card {
    padding-bottom: 40px
}

main .card img {
    width: 100%;
}

main .list-demo .card .card-1 {
    padding-top: 40px;
    text-align: start;
}

main .list-demo .card h2 {
    padding-bottom: 40px;
    color:#0084fd;
    font-size: 22px;
}

main .list-demo .card .card-1 button {
    width: 200px;
    height: 40px;
    background-color: #0084fd;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

main .list-demo .card .card-1 img {
    display: flex;
}

main .list-demo .card .icons {
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0084fd;
}






main .strategic {
    width: 100%;
    background-color: #9792e4;
    margin-top: 50px;
    color: white;
    line-height: 25px;
    padding-bottom: 60px;
    
}

main .strategic img {
    width: 100%;
    padding-bottom: 30px;
}

main .strategic .planning {
    padding-bottom: 35px;
}

main .strategic .planning .title-planning {
    color: white;
    padding-bottom: 60px;
    font-size: 30px;
}

main .strategic .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: black;
}

main .strategic .app .app-title {
    padding-bottom: 30px;
}

main .strategic .arrow {
    display: flex;
    background-color: #9792e4;
    width: 50px;
    height: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}




main .testimonials .title-testimonials {
    text-align: center;
}

main .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    
}

main .testimonials .h2-testimonials {
    color: #9792e4;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 30px;
}

main .testimonials .p-testimonials {
    padding-bottom: 50px;
}

main .testimonials .card-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: #9792e4;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    margin-bottom: 35px;
}

main .testimonials .card-testimonials img {
    border-radius: 50%;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 30px;
    
}

main .testimonials .card-testimonials .name-card {
    padding-top: 25px;
    padding-bottom: 25px;
}





main .working-with-us {
    background-color: #9792e4;
    margin-top: 65px;
    padding-top: 65px;
    padding-bottom: 60px;
}

main .working-with-us .title-with-us {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-bottom: 65px;
}

main .working-with-us .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
    
}

main .working-with-us .cards .card-with-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    background-color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
}

main .working-with-us .cards .card-with-us .number-card {
    font-size: 50px;
    font-weight: 700;
    color: #9792e4;
}

main .working-with-us .cards .card-with-us .subtitle-card {
    font-size: 20px;
    font-weight: 700;
    color: #9792e4;
}

main .working-with-us .cards .card-with-us .button-card {
    width: 140px;
    height: 40px;
    background-color: #9792e4;
    border: none;
    color: white;
    border-radius: 25px;
}




main .about-us {
    margin-top: 90px;
}

main .about-us .title-about-us {
    color: #9792e4;
    font-size: 40px;
    padding-bottom: 55px;
}

main .about-us .bottom-about-us .img-bottom-about-us {
    width: 50%;
    border-radius: 50%;
    margin-top: 60px;
    margin-bottom: 25px;
}

main .about-us .bottom-about-us .p-bottom-about-us {
    color: #9792e4;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 1.5em;
    line-height: 1.5em;
}

main .about-us .bottom-about-us .btn-bottom-about-us {
    width: 190px;
    height: 30px;
    color: white;
    background-color: #9792e4;
    border: none;
    border-radius: 25px;
}